{% load static %}
<!DOCTYPE html>
<html>
{% block header %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap.css' %}" />
</head>
{% endblock %}

{% block board %}
<div class="container">
  <h1 class="text-primary">问卷</h1>
</div>
{% endblock %}

{% block navigator %}
<div class="container" style="background-color: rgba(11, 214, 45, 0.555);">
        <ul class="nav nav-pills">
          <li class="nav-item" "active">
            <a class="nav-link" href={% url 'polls:index' %}>所有问卷</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'admin:index' %}>管理页面</a>
          </li>
        </ul>
</div>
{% endblock %}

<div class="container">
    {% block bodyindiv %}
    {% endblock %}
</div>

{% block footer %}
<div class="container" align="center">
    Power by <strong><a href="https://github.com/QingGo">QingGo</a></strong> 
    | <strong><a href="https://github.com/QingGo/django-questionnaire">Github</a></strong> 
</div>
{% endblock %}
</html>
