{% extends "polls/base_polls.html" %}

{% block bodyindiv %}
<h2>{{ questionnaire.questionnaire_name }}</h2>
<p class="text-muted">问卷详情: {{ questionnaire.detail_info }}</p>
<small class="text-muted">发布日期: {{ questionnaire.pub_date }}</small>
<br></br>
{% if error_message %}
    {% for k, v in error_message.items %}
    <p><strong>{{ k }}: {{ v }}</strong></p>
    {% endfor %}
{% endif %}

<form role="form" action="{% url 'polls:vote' questionnaire.id %}" method="POST">
    {% csrf_token %}
    {% for question in questionnaire.question_set.all %}
        <p> {{ forloop.counter }}: {{ question.question_text }}</p>
        <div class="form-group">
        {% for choice in question.choice_set.all %}
            <label class="radio-inline" for="choice{{ forloop.counter }}">
            <input type="radio" name="question{{ question.id }}" 
            id="question{{ forloop.parentloop.counter }}-choice{{ forloop.counter }}" 
            value="{{ choice.choice_text }}" />{{ choice.choice_text }}
            </label>
        {% endfor %}
        </div>
    {% endfor %}
<br></br>
<input type="submit" value="提交" />
</form>

<a href="{% url 'polls:index'%}">回到问卷列表</a>
{% endblock %}