{% extends "polls/base_polls.html" %}

{% block bodyindiv %}
<h2>问卷列表</h2>
{% if latest_questionnaire_list %}
    <ul>
        {% for questionnaire in latest_questionnaire_list %}
            <li><h4><a href="{% url 'polls:detail' questionnaire.id %}">{{ questionnaire.questionnaire_name }}</h4></a>
                <ul>
                    {% for question in questionnaire.question_set.all|slice:":2" %}
                        <li> {{ question.question_text }}</li>
                    {% endfor %}
                </ul>
                <p>...</p>
                </br>
                <p class="text-muted">问卷详情: {{ questionnaire.detail_info }}</p>
                <small class="text-muted">发布日期: {{ questionnaire.pub_date }}
                        <a href="{% url 'polls:results' questionnaire.id%}">直接查看投票结果</a>
                </small>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}